ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A2D0EA;
}

ul.header li.li-left {
    float: left;
}

ul.header li.li-right {
    float: right;
}

ul.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.header li a:hover:not(.active) {
    background-color: rgb(118, 174, 207);
}

.active {
    background-color: rgb(139, 197, 231);
}